html,body {
    overflow-x: hidden;
}
h1 {
    color: #F4B524;
    font-family: 'Montserrat', sans-serif; font-weight:900; font-style:bold;
    font-size: 65px;
}

h1.blue {
    color: #68B0C5;
    font-size: 60px;
}

h1.pink {
    color: #D98994;
    font-size: 60px;
}

h1.raspberry {
    color: #AF505D;
    font-size: 60px;
}

h1.blackberry {
    color: #55488D;
    font-size: 60px;
}

h1.sunset {
    color: #0879A5;
    font-size: 60px;
}

h1.merch {
    color: #6090AA;
    font-size: 60px;
}

h1.tango {
    color: #D88924;
    font-size: 60px;
}

h1.lite {
    color: #CD9B00;
    font-size: 60px;
}

h2 {
    color: #F3BE44;
    font-family: 'Montserrat', sans-serif; font-weight:700; font-style:normal;
    font-size: 25px;
}

h2.blue {
    color: #68B0C5;
    font-family: 'Montserrat', sans-serif; font-weight:700; font-style:bold;
    font-size: 50px;
    display: inline;
    width: 300px;
}

h2.raspberry {
    color: #AF505D;
    font-family: 'Montserrat', sans-serif; font-weight:700; font-style:normal;
    font-size: 25px;
}

h2.blackberry {
    color: #55488D;
    font-family: 'Montserrat', sans-serif; font-weight:700; font-style:normal;
    font-size: 25px;
}

h2.tango {
    color: #D88924;
    font-family: 'Montserrat', sans-serif; font-weight:700; font-style:normal;
    font-size: 25px;
}

h2.sunset {
    color: #0879A5;
    font-family: 'Montserrat', sans-serif; font-weight:700; font-style:normal;
    font-size: 25px;
}

h2.lite {
    color: #CD9B00;
    font-family: 'Montserrat', sans-serif; font-weight:700; font-style:normal;
    font-size: 25px;
}

h2.merch {
    color: #6090AA;
    font-family: 'Montserrat', sans-serif; font-weight:700; font-style:normal;
    font-size: 25px;
}

h3 {
    color: #F3BE44;
    font-family: 'Montserrat', sans-serif; font-weight:600; font-style:normal;
    font-size: 20px;
}

h3.blue {
    color: #68B0C5;
    font-family: 'Montserrat', sans-serif; font-weight:500; font-style:bold;
    font-size: 25px;
    display: inline;
    width: 300px;
    margin-left: 30px;
    margin-top: -15px;
}

h3.raspberry {
    color: #AF505D;
}

h3.blackberry {
    color: #55488D;
}

h3.tango {
    color: #D88924;
}

h3.sunset {
    color: #0879A5;
}

h3.lite {
    color: #CD9B00;
}

h3.merch {
    color: #6090AA;
}

h4 {
    font-family: 'Montserrat', sans-serif; font-weight:700; font-style:normal;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

h4.lemon {
    color: #F3BE44;
}

h4.raspberry {
    color: #AF505D;
}

h4.blackberry {
    color: #55488D;
}

h4.tango {
    color: #D88924;
}

h4.sunset {
    color: #0879A5;
}

h4.lite {
    color: #CD9B00;
}

h4.merch {
    color: #6090AA;
}

h5 {
    color: #F3BE44;
    font-family: 'Montserrat', sans-serif; font-weight:700; font-style:normal;
    font-size: 48px;
    margin-top: 20px;
}

h5.raspberry {
    color: #AF505D;
}

h5.blackberry {
    color: #55488D;
}

h5.tango {
    color: #D88924;
}

h5.sunset {
    color: #0879A5;
}

h5.lite {
    color: #CD9B00;
}

h5.merch {
    color: #6090AA;
}

p {
    color: #A38237;
    font-family: 'Montserrat', sans-serif; font-weight:400; font-style:normal;
    font-size: 18px;
}

p.raspberry {
    color: #682631;
}

p.blackberry {
    color: #18142A;
}

p.tango {
    color: #4E371A;
}

p.sunset {
    color: #0879A5;
}

p.lite {
    color: #7F6511;
}

p.merch {
    color: #1F3C4C;
}

label {
    color: #F3BE44;
    font-family: 'Montserrat', sans-serif; font-weight:600; font-style:normal;
    font-size: 20px;
}

label.raspberry {
    color: #AF505D;
    font-family: 'Montserrat', sans-serif; font-weight:600; font-style:normal;
    font-size: 20px;
}

label.blackberry {
    color: #55488D;
    font-family: 'Montserrat', sans-serif; font-weight:600; font-style:normal;
    font-size: 20px;
}

label.tango {
    color: #D88924;
    font-family: 'Montserrat', sans-serif; font-weight:600; font-style:normal;
    font-size: 20px;
}

label.sunset {
    color: #0879A5;
    font-family: 'Montserrat', sans-serif; font-weight:600; font-style:normal;
    font-size: 20px;
}

label.lite {
    color: #CD9B00;
    font-family: 'Montserrat', sans-serif; font-weight:600; font-style:normal;
    font-size: 20px;
}

label.merch {
    color: #6090AA;
    font-family: 'Montserrat', sans-serif; font-weight:600; font-style:normal;
    font-size: 20px;
}


.col {
    text-align: center;
    flex-direction: column;
    justify-content: center;
}


.can-square {
    text-align: center;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    cursor: pointer;
}


img.tiny-can {
    width: 50px;
    padding: 5px;
}
img.can-sunset {
    width: 100px;
    padding: 5px;
}

img.thumb {
    width: 45px;
    padding: 0px;
    margin-bottom: 40px;
    z-index: 50;
}

#lemon-ginger {
    padding-top: 150px;
    background-image: linear-gradient(#FFE9A3, #FFFFFF);
    display: flex;
    flex-direction: row;
    -webkit-font-smoothing: subpixel-antialiased;
    margin-bottom:100px;
}


#raspberry-hibiscus {
    padding-top: 150px;
    background-image: linear-gradient(#FF94A4, #FFFFFF);
    display: flex;
    flex-direction: row;
    -webkit-font-smoothing: subpixel-antialiased;
    margin-bottom:100px;
}

#blackberry-orange {
    padding-top: 150px;
    background-image: linear-gradient(#B4B2FD, #FFFFFF);
    display: flex;
    flex-direction: row;
    -webkit-font-smoothing: subpixel-antialiased;
    margin-bottom:100px;
}

#tango {
    padding-top: 150px;
    background-image: linear-gradient(#F5BA6F, #FFFFFF);
    display: flex;
    flex-direction: row;
    -webkit-font-smoothing: subpixel-antialiased;
    margin-bottom:100px;
}


#sunset-variety {
    padding-top: 150px;
    background-image: linear-gradient(#B1E7FD, #FFFFFF);
    display: flex;
    flex-direction: row;
    -webkit-font-smoothing: subpixel-antialiased;
    margin-bottom:100px;
}

#leilo-lite {
    padding-top: 150px;
    background-image: linear-gradient(#FFFFFF, #FFFFFF);
    display: flex;
    flex-direction: row;
    -webkit-font-smoothing: subpixel-antialiased;
    margin-bottom:100px;
}

#leilo-merchandise {
    padding-top: 150px;
    background-image: linear-gradient(#DFF5FE, #FFFFFF);
    display: flex;
    flex-direction: row;
    -webkit-font-smoothing: subpixel-antialiased;
    margin-bottom:100px;
}


#dropdown-control {
    display: flex;
    flex-direction: row;
}

#dropdown-control-mobile {
    display: flex;
    flex-direction: row;
    z-index: 50;
}


.description {
    /*width: 38vw;*/
    min-width: 300px;
}

.other-flavors {
    width: 20vw;
    min-width: 200px;
    text-align: center;
    justify-content: center;
}

.form-control.lemon {
    border-width: 4px;
    border: solid #F3BE44;
    width: 110px;
    color: #F3BE44;
    background-color: #FFFFFF;
}

.form-control.raspberry {
    border-width: 4px;
    border: solid #AF505D;
    width: 110px;
    color: #AF505D;
    background-color: #FFFFFF;
}

.form-control.blackberry {
    border-width: 4px;
    border: solid #55488D;
    width: 110px;
    color: #55488D;
    background-color: #FFFFFF;
}

.form-control.sunset {
    border-width: 4px;
    border: solid #0879A5;
    width: 110px;
    color: #0879A5;
    background-color: #FFFFFF;
}

.form-control.merch {
    border-width: 4px;
    border: solid #6090AA;
    width: 110px;
    color: #6090AA;
    background-color: #FFFFFF;
}


.form-control.tango {
    border-width: 4px;
    border: solid #D88924;
    width: 110px;
    color: #D88924;
    background-color: #FFFFFF;
    z-index: 10;
}

.form-control.lite {
    border-width: 4px;
    border: solid #CD9B00;
    width: 110px;
    color: #CD9B00;
    background-color: #FFFFFF;
}

.dropdown {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}

.buy-now {
    padding-top:40px;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
}

.subscribe {
    padding-top:20px;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
}

.subscription-desc-lemon {
    font-family: 'Montserrat', sans-serif; font-weight:400; font-style:normal;
    font-size: 12px;
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    width: 280px;
    text-align: center;
    color: #A38237;
}

.subscription-desc-blackberry {
    font-family: 'Montserrat', sans-serif; font-weight:400; font-style:normal;
    font-size: 12px;
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    width: 280px;
    text-align: center;
    color: #18142A;
}

.subscription-desc-raspberry {
    font-family: 'Montserrat', sans-serif; font-weight:400; font-style:normal;
    font-size: 12px;
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    width: 280px;
    text-align: center;
    color: #682631;
}

.subscription-desc-tango {
    font-family: 'Montserrat', sans-serif; font-weight:400; font-style:normal;
    font-size: 12px;
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    width: 280px;
    text-align: center;
    color: #4E371A;
}

.subscription-desc-sunset {
    font-family: 'Montserrat', sans-serif; font-weight:400; font-style:normal;
    font-size: 12px;
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    width: 280px;
    text-align: center;
    color: #0879A5;
}

.subscription-desc-lite {
    font-family: 'Montserrat', sans-serif; font-weight:400; font-style:normal;
    font-size: 12px;
    padding-top: 8px;
    display: flex;
    flex-direction: row;
    width: 280px;
    text-align: center;
    color: #7F6511;
}

.big-can {
    width: 300px;
    padding-left: 5vw;
}
.big-cans {
    width: 450px;
}

#keep-your-cool {
    width: 100vw;
    height: 35vw;
    padding: 0px;
    margin-left:0px;
    margin-right: 0px;
    background-size: cover;
}

.thumbnails {
    width: 10vw;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 150px;
    z-index: 50;
}

#flavor-name {
    margin-right: -50px;
}
#flavor-name-mobile {
    margin-right: -50px;
}


.can-inspector {
    /*width: 30vw;*/
    display: flex;
    flex-direction: row;
}

.only-mobile {
    display: none;
}
@media screen and (max-width: 23em) {
        .desktop {
            display: none;
        }
        .only-mobile {
            display: block; 
        }
        .big-can {
            width: 8em;
            height: auto;
            padding-top: 20px;
            padding-left: 0px;
            padding-right: 30px;
            margin-left: auto;
            margin-right: auto;
        }
        .big-cans {
            margin-left: -4em;
            width: 15em;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .description {
            width: 80vw;
            margin-left: auto;
            margin-right: auto;
        }
        .can-inspector {
            margin-left: auto;
            margin-right: auto;
            width: 40vw;
        }
        .other-flavors {
            width:100vw;
            margin-left: -1.5em;
        }
        .thumbnails {
            padding-left: 0px;
            width: 80vw;
            margin-left: -25px;
            margin-top: 10px;
            flex-direction: row;
            text-align: center;
        }
        .thumbnails.thumb-lite {
            padding-left: 0px;
            width: 80vw;
            margin-top: 10px;
            flex-direction: row;
            text-align: center;
            margin-left: 0px;
        }
        img.thumb {
            width: 3.5em;
            height: 100px;
            z-index: 50;
            padding-right: 1em;
        }
        #lemon-ginger {
            flex-direction: column;
            width:100vw;
        }
        #raspberry-hibiscus {
            flex-direction: column;
            width:100vw;
        }

        #blackberry-orange {
            flex-direction: column;
            width:100vw;
        }

        #tango {
            flex-direction: column;
            width:100vw;
        }

        #sunset-variety {
            flex-direction: column;
            width:100vw;
        }

        #leilo-lite {
            flex-direction: column;
            width:100vw;
        }

        #leilo-merchandise {
            flex-direction: column;
            width:100vw;
        }

        #flavor-name-mobile {
            font-size: 40px;
            margin-right: 0px;
        }
        img.tiny-can {
            height: 150px;
            width: auto;
            padding: 5px;
        }

        .can-square {
            margin:auto;
            cursor: pointer;
        }

        #dropdown-control-mobile {
            padding-top: 40px;
            width: 350px;
        }
        label[for="quantity"] {
            font-size: 25px;
        }
        label[for="pack-size"] {
            font-size: 25px;
        }
        h1.pink {
            font-size: 55px;
        }
        h1.blue {
            font-size: 50px;
        }
        h2.blue {
            font-size: 40px;
        }
        h3.blue {
            font-size: 1.5em;
            display: block;
            margin-right: auto;
            margin-left: auto;
            margin-top: 20px;
        }
        .buy-now {
            padding-left: 20px;
            margin-left: -30px;
            padding-right: 10px;
        }

        .subscribe {
            padding-left: 15px;
            padding-right: 15px;
            text-align: center;
        }

        .buy-now h5 {
            font-size: 40px;
        }

        .buy-now p {
            font-size: 15px;
        }

    }

@media screen and (min-width: 23em) and (max-width: 45em) {
        .desktop {
            display: none;
        }
        .only-mobile {
            display: block; 
        }
        .big-can {
            width: 8em;
            height: auto;
            padding-top: 20px;
            padding-left: 0px;
            margin-left: auto;
            margin-right: auto;
        }
        .big-cans {
            /*margin-left: 20px;*/
            margin-left: -3.5em;
            width: 15em;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .description {
            width: 80vw;
            margin-left: auto;
            margin-right: auto;
        }
        .can-inspector {
            margin-left: auto;
            margin-right: auto;
            width: 40vw;
        }
        .other-flavors {
            padding-top: 10px;
            width: 100vw;
            margin-left: -2em;
        }
        .thumbnails {
            padding-left: 0px;
            width: 80vw;
            margin-left: -15px;
/*            margin-right: auto;
            margin-left: auto;*/
            margin-top: 10px;
            flex-direction: row;
            text-align: center;

        }
        .thumbnails.thumb-left {
            padding-left: 0px;
            width: 80vw;
/*            margin-right: auto;
            margin-left: auto;*/
            margin-top: 10px;
            flex-direction: row;
            text-align: center;
            margin-left: 0px;
        }
        img.thumb {
            width: 3.5em;
            height: 100px;
            z-index: 50;
            padding-right: 1em;
        }
        #lemon-ginger {
            flex-direction: column;
            width:100vw;
        }
        #raspberry-hibiscus {
            flex-direction: column;
            width:100vw;
        }

        #blackberry-orange {
            flex-direction: column;
            width:100vw;
        }

        #tango {
            flex-direction: column;
            width:100vw;
        }

        #sunset-variety {
            flex-direction: column;
            width:100vw;
        }

        #leilo-lite {
            flex-direction: column;
            width:100vw;
        }

        #leilo-merchandise {
            flex-direction: column;
            width:100vw;
        }
        #flavor-name-mobile {
            font-size: 40px;
            margin-right: 0px;
        }
        img.tiny-can {
            height: 150px;
            width: auto;
            padding: 5px;
        }

        .can-square {
            margin:auto;
            cursor: pointer;
        }


        #dropdown-control-mobile {
            padding-top: 40px;
            width: 350px;
            text-align: center;
        }
        label[for="quantity"] {
            font-size: 25px;
        }
        label[for="pack-size"] {
            font-size: 25px;
        }
        h1.pink {
            font-size: 55px;
        }
        h1.blue {
            font-size: 50px;
        }
        h2.blue {
            font-size: 40px;
        }
        h3.blue {
            font-size: 1.5em;
            display: block;
            margin-left: 140px;
            margin-top: -30px;
        }
        .buy-now {
            padding-left: 10px;
            margin-left: -30px;
        }

        .subscribe {
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
        }

    }
/*

    @media screen and (min-width: 35em) and (max-width: 40em) {
        .desktop {
            display: none;
        }
        .only-mobile {
            display: block; 
        }
        .big-can {
            width: 150px;
            height: auto;
            margin-top: 50px;
        }
        .big-cans {
            margin-left: 40px;
            width: 250px;
        }
        .description {
            margin-left: -20px;
        }
        .other-flavors {
            width:100vw;
            padding-right: 20px;
            padding-left: 20px;
        }
        .description {
            width: 35vw;
            padding-left: 50px;
        }
        .thumbnails {
            margin-left: -50px;
        }
        #lemon-ginger {
            flex-direction: column;
            width:100vw;
        }
        #raspberry-hibiscus {
            flex-direction: column;
            width:100vw;
        }

        #blackberry-orange {
            flex-direction: column;
            width:100vw;
        }

        #tango {
            flex-direction: column;
            width:100vw;
        }


        #sunset-variety {
            flex-direction: column;
            width:100vw;
        }
        #flavor-name {
            font-size: 60px;
            margin-right: 0px;
        }
        img.tiny-can {
            height: 150px;
            width: auto;
            padding: 5px;
        }

        .can-square {
            margin:auto;
            cursor: pointer;
        }
        .can-inspector {
            margin-left: -40px;
            width: 25vw;
        }
        .thumb {
            width: 30px;
        }
        #dropdown-control {
            width: 350px;
        }
        label[for="quantity"] {
            font-size: 25px;
        }
        label[for="pack-size"] {
            font-size: 25px;
        }
        h1.pink {
            font-size: 55px;
        }
        img.reverse-bubble {
            width: 500px;
        }
        img.effects-bubble {
            width: 500px;
        }
        img.ingredients-bubble {
            width: 500px;
        }
        h3.blue {
            display: block;
            margin-left: 270px;
            margin-top: -35px;
        }

    }*/


    @media screen and (min-width: 45em) and (max-width: 55em) {
        .big-can {
            margin-top: 40px;
            width: 170px;
        }
        .big-cans {
            margin-left: 10px;
            width: 300px;
        }
        .can-inspector {
            margin-left: -60px;
        }
        .thumbnails {
            padding-top: 30px;
            padding-left: 120px;
            text-align: center;
        }
    }

    @media screen and (min-width: 55em) and (max-width: 60em) {
        .big-can {
            width: 220px;
        }
        .big-cans {
            width: 350px;
        }
        .can-inspector {
            margin-left: -60px;
        }
        .thumbnails {
            padding-left: 160px;
            text-align: center;
        }
    }

    @media screen and (min-width: 60em) and (max-width: 75em) {
        .big-can {
            width: 220px;
        }
        .big-cans {
            width: 380px;
        }
        .can-inspector {
            margin-left: -60px;
        }
        .thumbnails {
            padding-left: 160px;
            text-align: center;
        }
    }



    #word-on-the-street {
        background-image: linear-gradient(#FFE9A3, #FFE8E8);
    }

    #footer {
        height: 700px;
        background-color: #FFE8E8;
    }

    img.ave-rating {
        margin-left: 40px;
        margin-top: -30px;
        margin-right: 20px;
    }

    img.rating {
        width: 80vw;
        height: 14vw;
        margin-top: 20px;
    }

    .reviews {
        padding-top: 50px;
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 30px;
    }

    .row.review {
        justify-content: center;
    }

    #the-inside-scoop {
        background-image: linear-gradient(#FFE8E8, #FFE9E9);
        text-align: center;
        padding-top: 75px;
        padding-bottom: 75px;
    }

    img.reverse {
        position: relative;
        height: 250px;
        z-index: 5;
    }

    img.reverse-bubble {
        height: 300px;
        margin-top: -20px;
        z-index: 2;
        display: none;
    }

    img.effects {
        position: relative;
        height: 250px;
        z-index: 5;
    }

    img.effects-bubble {
        margin-top: -20px;
        height: 300px;
        z-index: 2;
    }

    img.ingredients {
        position: relative;
        height: 250px;
        z-index: 5;
    }

    img.ingredients-bubble {
        margin-left: -15px;
        height: 300px;
        z-index: 2;
        display: none;
    }

    .in-out {
        margin-top:-100px;
        z-index: 2;
    }

    #per-can {
        padding-top: 70px;
        margin-left: -130px;
    }
    #per-can-mobile {
        padding-top: 70px;
        margin-left: -130px;
    }
        @media screen and (max-width: 23em) {
        img.ave-rating {
            margin-top: 40px;
            margin-right: auto;
            margin-left: auto;
            height: 2.5em;
        }
        img.rating {
            width: 100vw;
            height: 20vw;
        }
        img.ingredients {
            margin-left: auto;
            margin-right: auto
        }
        img.ingredients-bubble {
            margin-top: -90px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 9em;
        }
        img.reverse {
            margin-left: auto;
            margin-right: auto;
        }
        img.reverse-bubble {
            padding-top: 10px;
            margin-top: 10px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 10em;
        }
        img.effects {
            margin-left: auto;
            margin-right: auto;
        }
        img.effects-bubble {
            margin-top: -100px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 8.7em;
        }
    }
    @media screen and (min-width: 23em) and (max-width: 35em) {
        img.ave-rating {
            margin-top: 10px;
            margin-left: -140px;
            height: 2.5em;
        }
        img.rating {
            width: 100vw;
            height: 20vw;
        }
        img.ingredients {
            margin-left: auto;
            margin-right: auto
        }
        img.ingredients-bubble {
            margin-top: -110px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 11em;
        }
        img.reverse {
            margin-left: auto;
            margin-right: auto;
        }
        img.reverse-bubble {
            padding-top: 10px;
            margin-top: -50px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 11.5em;
        }
        img.effects {
            margin-left: auto;
            margin-right: auto;
        }
        img.effects-bubble {
            margin-top: -100px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 10em;
        }
    }


    @media screen and (max-width: 75em) {
        #per-can {
            min-width: 130px;
        }
        #per-can-mobile {
            min-width: 130px;
        }
    }

    @media screen and (min-width: 35em) and (max-width: 50em) {
        img.ave-rating {
            margin-top: 10px;
            margin-left: -130px
        }
    }

    @media screen and (min-width:35em) and (max-width: 90em) {
        img.rating {
            width: 100vw;
            height: 20vw;
        }
        img.ingredients {
            margin-left: auto;
            margin-right: auto
        }
        img.ingredients-bubble {
            margin-top: -110px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 250px;
        }
        img.reverse {
            margin-left: auto;
            margin-right: auto;
        }
        img.reverse-bubble {
            margin-top: -110px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 250px;
        }
        img.effects {
            margin-left: auto;
            margin-right: auto;
        }
        img.effects-bubble {
            margin-top: -110px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            height: 250px;
        }
    }