h1 {
    color: #68B0C5;
    font-family: 'Montserrat', sans-serif; font-weight:900; font-style:bold;
    font-size: 65px;
}

p {
    color: #68B0C5;
    font-family: 'Montserrat', sans-serif; font-weight:400;
    font-size: 18px;
}

#header {
    padding-bottom: 50px;
    text-align: center;
}

#terms {
    background-image: linear-gradient(#FFFFFF, #FFE9A3);
    padding: 150px; 
}

@media screen and (max-width: 30em) {
    h1 {
        font-size: 40px;
    }
    p {
        font-size: 12px;
    }

}
@media screen and (max-width: 23em) {
    h1 {
        font-size: 30px;
    }
    p {
        font-size: 10px;
    }

}