html,body {
    overflow-x: hidden;
}
h1 {
    color: #D88924;
    font-family: 'Montserrat', sans-serif; font-weight:900; font-style:bold;
    font-size: 65px;
}

h1.partner-reviews {
    color: #D88924;
    font-family: 'Montserrat', sans-serif; font-weight:900; font-style:bold;
    font-size: 50px;
}

p {
    color: #D88924;
    font-family: 'Montserrat', sans-serif; font-weight:400;
    font-size: 18px;
}

.wholesale-links {
    color: #D88924;
    font-family: 'Montserrat', sans-serif; font-weight:600;
    text-decoration: underline;
}

#header {
    padding: 50px;
    text-align: center;
}

#wholesale {
    background-image: linear-gradient(#FFFFFF, #FCC988);
    padding: 150px; 
}

#contact-us {
    width: 100%;
}
.container-fluid {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.col {
    padding: 30px;
    padding-left: 100px;
}

.wholesale {
 padding-left: 100px;
 text-align: center;
}

#wholesale-desc {
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 50px;
}

.reviews{
    margin-left: 5%;
    margin-right: 5%;
}

text{
    fill: #D88924;
    font-size: 2.5em;
    font-family: 'Montserrat', sans-serif; font-weight:900; font-style:bold;
}

@media screen and (max-width: 48em) {
    #header h1 {
        font-size: 45px;
    }
    #wholesale-desc {
        padding-left: 50px;
        padding-right: 50px;
    }
    .contact {
        padding-left: 0px;
        text-align: center;

    }
    .contact-form {
        width: 400px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width: 48em) and (max-width: 58em) {
    #header h1 {
        font-size: 50px;
    }
    #wholesale-desc {
        padding-left: 100px;
        padding-right: 100px;
    }
    .contact {
        padding-left: 50px;
        text-align: center;

    }
    .contact-form {
        width: 30vw;
    }
}
@media screen and (min-width: 58em) and (max-width: 73em) {
    #header h1 {
        font-size: 50px;
    }
    #wholesale-desc {
        padding-left: 150px;
        padding-right: 150px;
    }
    .contact-form {
        width: 35vw;
    }
}


input {
    font-family: 'Montserrat', sans-serif; font-weight:500; font-style:normal;
    font-size: 20px;
    color: #5a90a0;
    background-color: #CFF4FF;
    border: none;
    border-bottom: 2px solid #68B0C5;
    outline: none;
    padding-left: 20px;
    padding-top: 20px;

    width: 100%;
}

input.submit {
    float: right;
    background-color: #FFFFFF;
    
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;

    height: 80px;
    width: 50%;

    font-family: 'Montserrat', sans-serif; font-weight:700; font-style:normal;
    font-size: 30px;
    text-shadow: 0px 2px 4px #68B0C5;
    color: #68B0C5;

    box-shadow: -10px 10px #68B0C5;
}

input.submit:hover {
    background-color: #FFFFFF;
    color: #68B0C5;

    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    box-shadow: -10px 12px #68B0C5;
    transition: ease-in 200ms;
}